*{
	box-sizing:border-box;
}
body
{	
	position:flex;
	justify-content:center;
	align-items:center;
	margin:0;
	min-height:100vh;
}

.carousel{
width:500px;
height:500px;
box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
overflow:hidden;
}

.image-container{
	display:flex;
	transform: translateX(0);
}

img{
	width:500px;
	height:500px;
	object-fit:cover;
}